<div id="toolbar" ng-controller="toolbarCtrl" ng-include="'static/views/module/toolbar.html'"></div>
<div id="content">
    <div class="decks" ng-show="app.showModuleName=='Decks'" ng-controller="deckCtrl"
        ng-include="'static/views/module/decks.html'"></div>
    <div class="common" ng-show="app.showModuleName=='Common'"
        ng-include="'static/views/module/common.html'"></div>
    <div class="addons" ng-show="app.showModuleName=='Addons'"
        ng-include="'static/views/module/addons.html'"></div>
</div>
