<div ng-include="'static/views/controller/toolbar.html'"></div>
<div id="content">
    <div class="menu">
        <div class="item active" ng-click="app.showModuleName='Decks'">Decks</div>
        <div class="item">Common</div>
        <div class="item">Other</div>
        <div class="item">Setting</div>
    </div>
    <div class="board">
        <div class="decks" ng-show="app.showModuleName=='Decks'" ng-controller="deckCtrl" ng-include="'static/views/controller/decks.html'"></div>
    </div>
</div>
